.box1 {
    width: 250px;
    height: 700px;

}

.box2 {
    width: 250px;
    height: 45px;
    background-color: #383131;
    background-repeat: no-repeat;
    background-position: 280px;
}



.box3 {
    width: 250px;
    height: 700px;
    background-color: #383131;
    color:#ffffff;
}

td {
    text-align: left;
    padding-left: 5px;
    height: 30px;
    line-height: 30px;
    padding-top: 12px;
    font-size: 18px;
    background-repeat: no-repeat;
    background-position: 280px 15px;
}