/*搜索框6*/
.bar6 {
    background:#ffffff;
    display: inline-block;
}

.bar6 input {
    border: 2px solid #ff6633;
    width: 300px;
    height: 40px;
    margin-bottom: 25px;
    display: inline-block;
    vertical-align: middle;
}

.bar6 button {
    background: #ff6633;
    width: 100px;
    height: 44px;
    margin-bottom: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-left: -5px;
    border-color: #ff6633;
}

.bar6 button:before {
    content: "搜索";
    font-size: 13px;
    color: #ffffff;
    display: inline-block;
}
